<a href="https://colab.research.google.com/github/JoongseokPark/BigData_analysis_Joongseok/blob/main/2022_09_07%EB%B6%84%EC%84%9D%EC%9E%85%EB%AC%B8%EA%B3%BC%EC%A0%9C01_%EB%B0%95%EC%A4%91%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
x = int(input())
y = int(input())

if 0 == x%2:
  print('x는 짝수')
else:
  print('x는 홀수')

if 0 == y%2:
  print('y는 짝수')
else:
  print('y는 홀수')

In [ ]:
a = int(input())
b = int(input())
c = int(input())

z = [a,b,c]
w = np.sort(z,axis=- 1, kind='quicksort', order=None)

print('numbers are {} , {} , {}\n'.format(w[0],w[1],w[2]))
print('a = {}\nb = {}\nc = {}\n'.format(a**2,b**2,c**2))
print('a = {}\nb = {}\nc = {}\n'.format(np.sqrt(a),np.sqrt(b),np.sqrt(c)))

256
144
81
numbers are 81 , 144 , 256

a = 65536
b = 20736
c = 6561

a = 16.0
b = 12.0
c = 9.0

In [ ]:
week = '월화수목금토일'

for day in week:
  print('{}요일은 맛있는 점심 먹는 날'.format(day))

월요일은 맛있는 점심 먹는 날
화요일은 맛있는 점심 먹는 날
수요일은 맛있는 점심 먹는 날
목요일은 맛있는 점심 먹는 날
금요일은 맛있는 점심 먹는 날
토요일은 맛있는 점심 먹는 날
일요일은 맛있는 점심 먹는 날

In [ ]:
for i in range(0,100,3):
  print(i)

In [ ]:
for i in range(50):
  a+=i

print(a)
a = 0

1225

In [ ]:
for i in range(5):
  print('[{}]'.format(i))

[0]
[1]
[2]
[3]
[4]

In [ ]:
for i in range(101):
  a+=i

print(a)
a = 0

5050

In [ ]:
for i in range(1,100,2):
  print(i)
  a+=i

print(a)
a = 0

In [ ]:
for i in range(0,101,2):
  print(i)
  a+=i

print(a)
a = 0

In [ ]:
q = []
for i in range(5):
  q.append(i**2)
print(q)

[0, 1, 4, 9, 16]

In [ ]:
fruits = ['apple','orange','melon','grape','banana']
a = list(enumerate(fruits))
print(a)

[(0, 'apple'), (1, 'orange'), (2, 'melon'), (3, 'grape'), (4, 'banana')]

In [ ]:
a = ['오이','상추','고추']
b = ['사과','수박']
c = ['닭','소','돼지']
d = input()

if d in a:
  print(d,"is vege")
elif d in b:
  print(d,"is fruits")
elif d in c:
  print(d,"is livestock")
else:
  print("is not of anything")

오이
오이 is vege

In [ ]:
print("insert password")
psw = int(input())

if psw == 1234:
  print("success login")
else:
  print("fail login")

insert password
1548
fail login

In [ ]:
i = 1
j =1

for i in range(1,4):
  for j in range(1,10):
    print("{} X {} = {}".format(i,j,i*j))
  print("\n")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27